body
{
  margin: 0;
  padding: 0;
  background: #000000;
}

#search-button {
  width: 100px;
  height: 50px;
}

#search-button svg {
  width: 25px;
  height: 25px;
}

.active:active {
  color: red;
}

.focus:focus {
  color: red;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #000000;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

.btn-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Fredericka the Great', cursive;
  justify-content: center;
}
